*.pem
*.keys
license.json

certs/*
!/certs/ssl-client-truststore
!/certs/signature-verification
!/certs/obb-root-sandbox-g1.cer

/certs/ssl-client-truststore/*
!/certs/ssl-client-truststore/obb-issuing-sandbox-g1.cer

/certs/signature-verification/*
!/certs/signature-verification/obb-ssa-issuing-sandbox.pem

/pki/*
!/pki/create_ca.sh
!/pki/openssl-client.cnf
!/pki/openssl-intermediate.cnf
!/pki/openssl.cnf

/dcr-request.json
/software-statement/software-statement.json
/pre-processing-procedures/open-banking-brasil-dcr-validation.js
