[ req ]
# Options for the `req` tool.
default_bits        = 2048
prompt              = no
distinguished_name  = client_distinguished_name
req_extensions      = req_cert_extensions
string_mask         = utf8only

[client_distinguished_name]
countryName             = BR
stateOrProvinceName     = SP
localityName            = Sao Paulo
0.organizationName      = Testing Bank
organizationalUnitName  = 368a900d-89a3-4c59-a624-1387f1b541fb
commonName              = tpp.example.com
UID                     = f69c8291-3dab-425b-bdc0-a8cf54a5f3b0
businessCategory        = Private Organization
jurisdictionCountryName = BR
serialNumber            = 00112233445566

[ req_cert_extensions ]
basicConstraints = CA:FALSE
subjectAltName = @alt_name
keyUsage = critical,digitalSignature,keyEncipherment
extendedKeyUsage = clientAuth

[ alt_name ]
DNS = localhost
